Options -Indexes


#@__HCP_END__@#
# Anything after the comment above is left alone

#Force www:
RewriteEngine on
RewriteCond %{HTTP_HOST} ^trinchi.ch [NC]
RewriteRule ^(.*)$ https://www.trinchi.ch/$1 [L,R=301,NC]
